<div class="container">
  <div class="row">
    <div class="col-md-4">
      <app-list [title]="'Group'" [array]="groups" (onSelect)="loadStops($event)" (onDelete)="deleteGroup($event)"
      [isDeleteButtonActive]="true">
      </app-list>
    </div>
    <div class="col-md-8">
      <agm-map
        (mapClick)="addStop($event)"
        [latitude]="initLat" [longitude]="initLng" [zoom]="initZoom">
        <agm-marker
          *ngFor="let s of stops; let i = index"
          [latitude]="s.coordinate.lat"
          [longitude]="s.coordinate.lng"
          [label]="'S'"
          (markerClick)="removeMarker(i)">
        </agm-marker>
      </agm-map>
      <button class="btn" (click)="clear()">Clear map</button>
    </div>
  </div>
  <app-edit-form (onSave)="saveGroup($event)" (onUpdate)="updateGroup($event)" [entity]="selectedGroup"></app-edit-form>
</div>

