<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item" (dblclick)="loadStops(g)" *ngFor="let g of groups | async">
          {{g.name}}
          <button class="btn btn-default btn-sm" (click)="updateGroup(g)">Update</button>
          <button class="btn btn-default btn-sm" (click)="deleteGroup(g)">Delete</button>
        </li>

      </ul>
    </div>
    <div class="col-md-8">
      <agm-map
        (mapClick)="addStop($event)"
        (mapRightClick)="deleteStop($event)"
        [latitude]="initLat" [longitude]="initLng" [zoom]="initZoom">
        <agm-marker
          *ngFor="let s of stops; let i = index"
          [latitude]="s.coordinate.lat"
          [longitude]="s.coordinate.lng"
          [label]="'S'"
          (markerClick)="removeMarker(i)">
        </agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <input type="text" [value]="group.name" #stopGroupName (change)="setName(stopGroupName.value)">
      <button class="btn btn-default" (click)="saveGroup()">Save</button>
      <button class="btn" (click)="clear()">Clear</button>
    </div>
  </div>
</div>
