<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-list [title]="'City'" [array]="cities" (onSelect)="selectCity($event)"></app-list>
    </div>
    <div class="col-md-2">
      <app-list [title]="'Route'" [array]="routes" (onSelect)="loadRoute($event)"
                [isDeleteButtonActive]="true" (onDelete)="deleteRoute($event)"></app-list>
    </div>
    <div class="col-md-2">
      <app-list [title]="'Forward'" [array]="route.stopsForward"
                [isDeleteButtonActive]="true" (onDelete)="deleteStopFromForwardList($event)"></app-list>
      <app-list [title]="'Back'" [array]="route.stopsBack"
                [isDeleteButtonActive]="true" (onDelete)="deleteStopFromBackList($event)"></app-list>
    </div>
    <div class="col-md-6">
      <agm-map
        (mapClick)="addPoint($event.coords)"
        (mapRightClick)="removeLastPoint()"
        [latitude]="initLat" [longitude]="initLng" [zoom]="initZoom">
        <agm-marker
          *ngFor="let s of stops; let i = index"
          [latitude]="s.coordinate.lat"
          [longitude]="s.coordinate.lng"
          [label]="'S'"
          (markerClick)="addToRoute(s)">
        </agm-marker>

        <agm-polyline>
          <agm-polyline-point
            *ngFor="let p of route.points" [latitude]="p.lat" [longitude]="p.lng">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>
  </div>
  <app-edit-form [entity]="route" (onSave)="saveRoute($event)" (onUpdate)="updateRoute($event)">
    <div class="radio">
      <label><input type="radio" name="Direction" (>Forward</label>
    </div>
    <div class="radio">
      <label><input type="radio" ngModel="" name="Direction">Back</label>
    </div>
  </app-edit-form>
</div>
